<form class="form-horizontal" [formGroup]="productForm" >
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add Product</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="img">Upload Product Image</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" (change)="onFileChanged($event)" name="name"
                        formControlName="name">
                    <img [src]="imgURL" height="200" *ngIf="imgURL">
                </div>
                <div class="col-md-12">
                    <div *ngIf=message>{{message}}</div>
                </div>
            </div>

            

            <div class="form-group">
                <label class="col-sm-2 control-label" for="type">Select Product Type</label>
                <div class="col-sm-8">
                    <select formControlName="imgType" class="form-control"
                        (change)="onChangeProductType($event.target.value)">
                        <option value="">Select product type...</option>
                        <option *ngFor="let imgType of imgTypes" [value]="imgType.id">{{imgType.name}}</option> 
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="type">Select Product SubType</label>
                <div class="col-sm-8">
                    <select formControlName="imgSubType" class="form-control">
                        <option value="">Select product sub type...</option>
                        <option *ngFor="let imgSubType of imgSubTypes" [value]="imgSubType.id">{{imgSubType.name}}</option> 
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="prize">Prize</label>
                <div class="col-sm-8">
                    <input id="type" type="text" class="form-control" name="prize" formControlName="prize">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="desc">Description</label>
                <div class="col-sm-8">
                    <input id="type" type="text" class="form-control" name="desc" formControlName="desc">
                </div>
            </div>


        </div>

        <div class="panel-footer">
            <div class="btn-toolbar">
                <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </div>
</form>